.copy_right_footer {
position: fixed;
color:rgb(58, 160, 163);
bottom: 0;
width: 100%;
font-size: 18px;
background-color: rgb(255, 196, 0);
line-height: 3;
text-align: center;
text-shadow:  5px 5px 5px rgb(0, 255, 55)                         ;
}
body
{
background-color:antiquewhite;
}